.container{
    display: grid;
    grid-template-columns: 1fr;

}
.book-list{
    list-style: none;
}
.card {
    position: relative;
    max-width: 300px;
    max-height: 400px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .card-title{
    font-size: large;
    font-weight: bold;
    letter-spacing: 2px;
  }

  a{
    text-decoration: none;
    color: cadetblue;
    background-color: aliceblue;
  }
  a:hover{
    color: white;
    background-color: rgb(33, 110, 177);
  }

  .card-header .icon {
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    padding: 2px;
    margin-right:4px ;
    border: none;
    color: cadetblue;
    background-color: aliceblue;
  }
  .card-header .icon:hover {
    color: white;
    background-color: rgb(33, 110, 177);
  }

  img{
    height: 300px;
    object-fit: fill;
    width: 100%;
  }

  @media (min-width: 768px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }